:root {

  /* solarized theme colors
   * see: https://ethanschoonover.com/solarized/
   *
   * inverting the colors is as simple as reversing the base colors
   */
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;

  /* these are static colors in the solarized theme; the don't change
   * between light and dark */
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;

  --mainBackground: var(--base03);
  --leftBackground: var(--base02);
}

body {
  color: var(--base2);
}

a {
  color: var(--cyan);
}

.root {
  display: flex;
  align-items: stretch;

  width: 100%;
  min-height: 100%;
}

.leftBarWrapper {
  height: 100%;
}
.leftBar {
  display: flex;
  flex-direction: column;

  background-color: var(--leftBackground);

  width: 260px;
  height: 100%;
  padding: 6px;

  position: fixed;
  overflow-y: hidden;

  border-right: 1px solid var(--base01);
}

.mainContent {
  background-color: var(--mainBackground);

  width: 100%;
  padding: 8px;
  margin-left: 272px; /* nasty hack: need this so nav is position: fixed */
}

.sectionHeader {
  color: var(--orange);
  font-size: 1.3rem;
  font-weight: 500;
  margin: 18px 4px 8px 4px;
}

.mainName {
  color: var(--base3);
  font-weight: 500;
  font-size: 1.9rem;
  text-align: center;
  padding: 12px;

  /*
  background-color: var(--base03);
  border: 1px solid var(--base01);
  */
}
.mainDescription {
  font-size: 1.1rem;
  margin-left: 18px;
  margin-right: 18px;
  text-align: justify;
  text-justify: auto;
}

.roleContainer {
  margin: 30px 8px 2px 12px;
}
.roleContainer:first-of-type {
  margin: 2px 8px 2px 12px;
}
.printSpacer {
    display: none;
    width: 0px;
    height: 0px;
}
.roleDateRange {
  color: var(--blue);
  display: block;
  font-style: italic;
  margin-right: 4px;
}
.roleOrganization {
  color: var(--yellow);
  font-size: 1.2rem;
  font-weight: 550;
}
.roleTitle {
  color: var(--cyan);
  font-size: 1.1rem;
  font-weight: 475;
}
.roleList {
  margin-block-start: 0.5em;
}
.roleListItem {
  margin-top: 6px;
}

.educationContainer {
  margin-left: 12px;
}
.educationHeader {
  margin: 4px 0px 4px 12px;
}
.educationDateRange {
  color: var(--blue);
  display: block;
  margin-top: 12px;
  font-size: 0.9rem;
  font-style: italic;
}
.educationText {
  font-size: 1.1rem;
}

.extraEndContainer {
  margin: 2px 8px 12px 26px;
}

.leftSectionHeader {
  color: var(--orange);
  font-size: 1.3rem;
  font-weight: 500;
  margin: 8px 4px 4px 4px;
}

.leftInfoBox {
  margin: 8px 4px 10px 10px;
}

.tagBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  border: 1px solid;
  border-color: var(--base0);
  background-color: var(--base03);
  padding: 2px 4px;
  margin: 2px;
  color: var(--base4);
}

.progressBar {
  margin: 0;
  padding: 0;
  background-color: var(--base01);

  width: 100px;
  height: 3px;
}
.progressBarFill {
  background-color: var(--base3);
  height: 100%;
}

.iconTextContainer {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.icon {
  width: 24px;
  height: auto;
  margin: 4px 6px;
  color: blue;
}
.iconText {
  font-size: 1.1rem;
}

.leftBarSpacer {
  flex-grow: 1;
}
.themeToggle {
  margin: 8px;
}

/* override css for printing, esp. designed for printing to PDF */
@media print {

  /* shrinking root-level font-size trickles down via em/rem -- this value looks good when
   * printing to pdf */
  html {
    font-size: 13px;
    background-color: var(--base03);
  }

  .leftBar {
    width: 210px;
  }
  .mainContent {
    margin-left: 222px;
  }

  .mainName {
    font-size: 1.8rem;
  }

  /* when printing, add a spacer div to enforce margin after page breaks */
  .roleContainer {
    margin: 0px 8px 2px 12px;
    break-inside: avoid-page;
  }
  .printSpacer {
    display: block;
    width: 0px;
    height: 10px;
  }
  .roleContainer:first-of-type .printSpacer {
    display: block;
    width: 0px;
    height: 0px;
  }
  .root {
    width: 100%;
    min-height: 100%;
  }

  .themeToggle {
    display: none;
  }

}
